
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Josefin Sans', sans-serif;
}

.logo-font{
    font-family: 'Pacifico', cursive;
}

input:focus{
    outline: none !important;
    box-shadow: none !important;
}

input::placeholder{
    font-size: small;
    letter-spacing: 1px;
}

.App{
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}


.custom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar
{
	width: 4px;
	background-color: #dcdcdc;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #00BAFC;
	background-image: black;
}